<h1 class="my-3 text-center">mokobloggers</h1>
<div class="flickr_pagination mb-2">
    <%= will_paginate @users, container: false %>
</div>
<div class="container">
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Username</th>
        <th scope="col">Articles</th>
        <th scope="col">Join</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row">
            <%= gravatar_for user, size: 50%>
          </th>
          <td><%= user.username %></td>
          <td><%= user.articles.any? ? pluralize(user.articles.count, "article") : "#{user.username.capitalize} has no article yet"%></td>
          <td>Joined <%= time_ago_in_words(user.created_at) %> ago</td>
          <td>
            <%= link_to "View profile", user_path(user), class: "btn btn-outline-success" %>
              <% if logged_in? %>
                <% if current_user == user %>
                  <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info" %>
                <% end %>
                <% if current_user.admin? %>
                  <%= link_to "Delete profile", user_path(user), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure you want to delete account and all associated articles?"} %>
                <% end %>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="flickr_pagination mb-2">
    <%= will_paginate @users, container: false %>
</div>
